.container {
   max-width: 1288px;
   margin: 0 auto;
   height: 100%;
}
.header {
   background-color: #2d2d2d;
   height: 80px;
   color: #dedede;
   border-bottom: solid 1px #696969;
   .headcontent {      
      padding: 0 20px 0 20px;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .headcontent-logo {
         font-weight: 800;
         font-size: 20px;
         letter-spacing: -0.5px;
      }
      .headcontent-menu {
         a {
            padding: 0px 20px 0px 20px;
            color: inherit;
         }
      }
   }
}
