@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap");
@import "_nullstyle.scss";

body {
   font-family: Manrope;
   font-size: 18px;
   font-weight: 700;
   margin: 0 auto;
   background-color: #202020;
   color: #dedede;
}

@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";
